@import "tailwindcss";

:root {
  --primary-blue: #106eb0;
  --primary-orange: #ec7000;
  --primary-gray: #33303e;
  --second-gray: #4e4b59;
  --gray-phone: #f4f4f4;
  --text-gray: #7a7786;
  --opacity-gray: rgba(100, 80, 57, 0.1);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
